.userInputForm {
  text-align: left;
  color: #555572;
  font-weight: 300;
  font-size: 18px;
  margin-top: 1rem;
  margin-left: 3.5rem;
}

input[type="text"] {
  width: 75%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background: white;
  padding: 12px 20px 18px 20px;
  color: #555572;
  font-weight: 300;
  font-size: 16px;
  outline: none;
}

input:focus {
  border: 3px solid #276baa;
}

.showtable {
  color: whitesmoke;
  border: 1px solid groove;
  background: #276baa;
  padding: 8px;
  font-size: 16px;
  border: none;
  border-radius: 2px;
  margin-top: 2px;
  width: 120px;
  display: block;
}

.showtable:hover {
  background: #225c92;
}
